$hd: 900px;
$small: 576px;


.details{
  font-family: "dharma-gothic-e";
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  padding-top: 100px;

  .headline{
    display: flex;
    flex-wrap: wrap;
    .item{
      flex: 1;
      flex-shrink: 0;
      flex-grow: 0;
      img{
        height: 110px;
        width: auto;
      }
      @media screen and (max-height: $hd) {
        img {
          height: 80px;
        }
      }
      @media screen and (max-width: $small) {
        img {
          height: 50px;
        }
      }
    }
  }

  .subline{
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 200px;
    padding-top: 60px;

    .example-full-width {
      width: 100%;
      padding-top: 2rem;
    }
    .mail{
      padding-top: 7rem;
    }
    mat-label{
      font-weight: bold;
      font-family: "Gotham";
      font-size: 2rem;
      color: #fff;
    }

    mat-form-field input{
      height: 4rem;
      font-size: 1.4rem;
      color: #fff;
    }

    mat-error {
      font-size: 1.2rem;
    }

    @media screen and (max-height: $hd) {
      padding-top: 0;
      mat-label{
        font-size: 1.4rem;
      }
      mat-form-field input{
        font-size: 1rem;
      }

      mat-form-field input{
        height: 3rem;
      }
      mat-error {
        font-size: 0.7rem;
      }
      .example-full-width {
        width: 100%;
        padding-top: 1rem;
      }
      .mail{
        padding-top: 3rem;
      }
    }

    @media screen and (max-width: $small) {
      padding-top: 100px;
      width: 80%;
      mat-label{
        font-size: 1.1rem;
      }
      mat-form-field input{
        height: 2rem;
        font-size: 0.8rem;
      }
      mat-error {
        font-size: 0.7rem;
      }
    }

    @media screen and (max-width: 450px) {
      padding-top: 0;
      width: 80%;
      mat-label{
        font-size: 1.1rem;
      }
      mat-form-field input{
        height: 2rem;
        font-size: 0.8rem;
      }
      mat-error {
        font-size: 0.7rem;
      }
      .mail{
        padding-top: 2rem;
      }
    }
    @media screen and (max-width: 330px) {
      padding-top: 0;
      width: 80%;
      mat-label{
        font-size: 1.1rem;
      }
      mat-form-field input{
        height: 2rem;
        font-size: 0.8rem;
      }
      mat-error {
        font-size: 0.7rem;
      }
      .mail{
        padding-top: 1rem;
      }
    }


  }

  @media screen and (max-height: $hd) {
    padding-top: 50px;
  }
  @media screen and (max-width: $small) {
    padding-top: 120px;
  }
  @media screen and (max-width: 450px) {
    padding-top: 80px;
  }
  @media screen and (max-width: 330px) {
    padding-top: 50px;
  }
}

::ng-deep.mat-form-field-underline {
  background-color: #cc1335 !important;
  height: 5px !important;
  @media screen and (max-height: $hd) {
    height: 3px !important;
  }
  @media screen and (max-width: $small) {
    height: 2px !important;
  }
}
