<div class="details">
  <div class="headline">
    <div class="item">
      <img src="../../../assets/images/deadpool-logo.png" alt="title text">
    </div>
    <div class="item">
      <img src="../../../assets/images/30-years-logo.png" alt="title text">
    </div>
  </div>
  <div class="subline">
    <form action="" [formGroup]="detailsForm">

      <mat-form-field class="example-full-width">
        <mat-label>Your Name:</mat-label>
        <input matInput #message maxlength="256"  [formControl]="nameControl">
        <mat-error *ngIf="nameControl.invalid || next">Name is <strong>required</strong> </mat-error>
        <!-- <mat-hint *ngIf="next"  [ngStyle]="{'color': '#f44336'}" >Name is <strong>required</strong></mat-hint> -->
        <mat-hint *ngIf="!next || !nameControl.invalid"><strong>(if it isn’t Wade Wilson, its good)</strong> </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Your instagram handle:</mat-label>
        <input matInput #message maxlength="256" [formControl]="instagramControl">
        <!-- <mat-error *ngIf="instagramControl.invalid || next">Question is <strong>required</strong></mat-error>
        <mat-hint *ngIf="next"  [ngStyle]="{'color': '#f44336'}" >Question is <strong>required</strong></mat-hint> -->
        <mat-hint><strong>(@#!*)</strong> </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width mail">
        <mat-label>Your email:</mat-label>
        <input matInput #message maxlength="256" [formControl]="emailControl">
        <mat-error *ngIf="emailControl.hasError('required')"> Email is <strong>required</strong> </mat-error>
        <mat-error *ngIf="emailControl.hasError('email')"> Email is NOT <strong>valid</strong> </mat-error>
        <mat-hint *ngIf="next"  [ngStyle]="{'color': '#f44336'}" >Email is <strong>required</strong></mat-hint>
      </mat-form-field>

    </form>
  </div>
</div>
