<div class="cover">
  <div class="headline">
    <div class="item">
      <img src="../../../assets/images/deadpool-logo.png" alt="title text">
    </div>
    <div class="item">
      <img src="../../../assets/images/30-years-logo.png" alt="title text">
    </div>
  </div>
  <div class="subline">
      <h2 class="sub xl">THANK YOU</h2>
      <h3 class="sub lg">{{nextService.data.name | uppercase}}</h3>
      <img src="../../../assets/images/pool.gif" alt="">
  </div>
</div>
