<div class="cover">
  <div class="headline">
    <div class="item">
      <img src="../../../assets/images/deadpool-logo.png" alt="title text">
    </div>
    <div class="item">
      <img src="../../../assets/images/30-years-logo.png" alt="title text">
    </div>
  </div>
  <div class="subline">
      <p class="sub sm">featuring</p>
      <h2 class="sub xl">FABIAN NICIEZA</h2>
      <h3 class="sub lg">[writer & co-creator of deadpool]</h3>
  </div>
</div>
