$hd: 900px;
$small: 576px;


.cover{
  font-family: "dharma-gothic-e";
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  .headline{
    display: flex;
    flex-wrap: wrap;
    .item{
      flex: 1;
      flex-shrink: 0;
      flex-grow: 0;
      img{
        height: 110px;
        width: auto;
      }
      @media screen and (max-height: $hd) {
        img {
          height: 80px;
        }
      }
      @media screen and (max-width: $small) {
        img {
          height: 50px;
        }
      }
    }
  }
  .subline{
    display: flex;
    flex-direction: column;

    .sub{
      font-weight: bold;
      text-transform: uppercase;
      font-family: "dharma-gothic-e";
      padding-bottom: 30px;

    }

    .sm{
      font-weight: lighter;
      font-size: 40px;
      padding-top: 30px;
      padding-left: 3px;
    }

    .lg{
      font-size: 80px;
      font-weight: lighter;
    }

    .xl{
      font-weight: bold;
      color: #cc1335;
      font-size: 100px;

    }

    @media screen and (max-height: $hd) {
      .sub{
        padding-bottom: 0;
      }
      .sm{
        font-size: 20px;
        padding-top: 15px;
      }
      .lg{
        font-size: 40px;
      }
      .xl{
        font-size: 50px;
      }
    }
    @media screen and (max-width: $small) {
      .sm{
        font-size: 14px;
        padding-top: 15px;
      }
      .lg{
        font-size: 28px;
      }
      .xl{
        font-size: 36px;
      }
    }
  }

}
