$hd: 900px;
$small: 576px;

.top-right {
  position: absolute;
  top: 50px;
  right: 30px;
  @media screen and (max-width: $small) {
    img {
      width: 80px;
    }
  }
}

.bottom-right {
  position: absolute;
  bottom: 40px;
  right: 30px;
  @media screen and (max-width: $small) {
    img {
      height: 60px;
    }
}
}
.bottom-left{
  position: absolute;
  left: 100px;
  bottom: 100px;
  cursor: pointer;
  @media screen and (max-height: $hd) {
      img {
        height: 60px;
      }
  }
  @media screen and (max-width: $small) {
    left: 50px;
    bottom: 50px;
}
}

.content{
  padding-left: 100px;
  height: 100%;
  @media screen and (max-width: $small) {
      padding-left: 50px;
  }
}


