
<div class="top-right">
  <img src="../assets/images/cmclogo.png" alt="">
</div>
<div class="bottom-right">
  <img src="../assets/images/pop-con-dubi.png" alt="">
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="bottom-left" *ngIf="!hide">
  <a (click)="onNext()">
    <img src="../assets/images/next.png" alt="">
  </a>
</div>
