<div class="question">
  <div class="headline">
    <div class="item">
      <img src="../../../assets/images/deadpool-logo.png" alt="title text">
    </div>
    <div class="item">
      <img src="../../../assets/images/30-years-logo.png" alt="title text">
    </div>
  </div>
  <div class="subline">
    <mat-form-field class="example-full-width">
      <mat-label>Type your question to Fabian:</mat-label>
      <input matInput #message maxlength="256" autocomplete="off" [formControl]="questionFormControl">
      <mat-error *ngIf="questionFormControl.invalid">
        Question is <strong>required</strong>
      </mat-error>
      <mat-hint *ngIf="next"  [ngStyle]="{'color': '#f44336'}" >Question is <strong>required</strong></mat-hint>
      <!-- <mat-hint align="start"><strong>Max 120 characters</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 120</mat-hint> -->
    </mat-form-field>
  </div>
</div>
