/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "dharma-gothic-e";
  font-weight: bold;
  src: url('./assets/fonts/DharmaGothicE_Bold_R.woff') format('woff'), url('./assets/fonts/DharmaGothicE_Bold_R.ttf') format('truetype');
}
@font-face {
  font-family: "dharma-gothic-e";
  font-weight: lighter;
  src: url('./assets/fonts/DharmaGothicE_Light_R.woff') format('woff'), url('./assets/fonts/DharmaGothicE_Light_R.ttf') format('truetype');

}
@font-face {
  font-family: "Gotham";
  src: url('./assets/fonts/GothamMedium.woff') format('woff'), url('./assets/fonts/GothamMedium.ttf') format('truetype');

}
@font-face {
  font-family: "Gotham";
  font-weight: lighter;
  src: url('./assets/fonts/GothamLight.woff') format('woff'), url('assets/fonts/GothamLight.ttf') format('truetype');

}


*{
  box-sizing: border-box;
}

html, body { height: 100%;}
body {
  margin: 0; font-family: "Gotham", "Helvetica Neue", sans-serif;
  background: url('./assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
